/* navbar */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand{
  font-family: 'Viga';
  font-size: 32px;
}

/* end navbar */

/* CSS ALL */

/* PARALAX */
.kiri, .kanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1.2s;
}

.kanan {
	transform: translate(50px, 0);
}

.kiri-go, .kanan-go {
	opacity: 1;
	transform: translate(0, 0);
}

/* jumbotron */

.jumbotron {
  background-image: url('../img/jumbotron-bg.jpg');
  background-size: cover;
  height: 550px;
  text-align: center;
  position: relative;
  /* margin-top: -75px; */
}

.jumbotron-pricing {
  background-image: url('../img/pricing-bg.jpg');
  background-size: cover;
  height: 350px;
  text-align: center;
  position: relative;
  /* margin-top: -75px; */

}

.jumbotron .container {
  z-index: 1;
  position: relative;

}

.jumbotron:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 100px;
  font-weight: 200;
  font-size: 45px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron .display-4 span {
  font-weight: 500;
}
.jumbotron p {
  color: #acacac;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .text-paralax {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}

.jumbotron .text-paralax.show {
	opacity: 1;
	transform: translate(0,0);
}

/* END JUMBOTRON */

/* INFO PANEL */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: -100px;
  background-color: white;
  padding: 30px;
}

.info-panel img {
  width: 95px;
  height: 90px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  margin-top: -3px;
  font-weight: 200;
}
.info-panel a {
  text-decoration: none;
  color: #242626;
}
/* END INFO PANEL */

/* PRICE PANEL */

.price-panel {
  border-radius: 12px;
  margin-top: -200px;
  padding: 30px;
}

.card-price {
  padding: 20px;
}

.card {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border-color: #ACACAC;
  padding: 10px;
}

/* END PRICE PANEL */
/* CONTENT SPACE */

.work-content {
  margin-top: 20px;
  text-align: center;
}
.work-content img {
  border-radius: 7px;
}
.work-content h3 {
  margin-top: 80px;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
}

.work-content span {
  font-weight: 500;
}

.work-content p {
  font-size: 18px;
  color: #ACACAC;
  font-weight: 200;
  margin: 30px 0;
}

/* PARALAX */
.work-content .thumbnail {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}

.work-content .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

/* END CONTENT SPACE */

/* SKILLS */

.skills {
  margin-top: 80px;
}

.skills .container p {
  font-size: 17px;
  font-weight: 200;
  margin: 8px 0;
}

.skills h3 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: #5f6360;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 50px;
}
.skills h5::after {
  content: '';
  display: block;
  border-bottom: 3px solid #ACACAC;
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* END SKILLS */

/* EDUCATION */
.education h3 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: #5f6360;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

.education .timeline img.logoedu {
  width: 40px;
  margin-left: 13px;
}

.timeline {
  margin: 0 0 45px;
  padding: 0;
  position: relative;
}

.timeline::before {
  border-radius: 0.25rem;
  background: #dee2e6;
  bottom: 0;
  content: '';
  left: 31px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.timeline > div {
  margin-bottom: 15px;
  margin-right: 10px;
  position: relative;
}

.timeline > div::before, .timeline > div::after {
  content: "";
  display: table;
}

.timeline > div > .timeline-item {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #ffffff;
  color: #495057;
  margin-left: 60px;
  margin-right: 15px;
  margin-top: 0;
  padding: 0;
  position: relative;
}

.timeline > div > .timeline-item > .time {
  color: #999;
  float: right;
  font-size: 12px;
  padding: 10px;
}

.timeline > div > .timeline-item > .timeline-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #495057;
  font-size: 17px;
  line-height: 1.1;
  margin: 0;
  padding: 10px;
  text-align: left;
  text-transform: none;
}

.timeline > div > .timeline-item > .timeline-header > a {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.timeline i.fa-certificate {
  color: #34aeeb;
  font-size: 16px;
}
.timeline i.fa-check {
  color: white;
  font-size: 9.5px;
  margin-left: -13px;

}

.timeline i.more {
  font-size: 9px;
  color: #ACACAC;
  font-style: normal;
}



.timeline > div > .timeline-item > .timeline-body,
.timeline > div > .timeline-item > .timeline-footer {
  padding: 10px;
  font-size: 17px;
  font-weight: 200;
}

.timeline > div > .timeline-item > .timeline-body > img {
  margin: 10px;
}

.timeline > div > .timeline-item > .timeline-body > dl, .timeline > div > .timeline-item > .timeline-body ol, .timeline > div > .timeline-item > .timeline-body ul {
  margin: 0;
}

.timeline > div > .timeline-item > .timeline-footer > a {
  color: #ffffff;
}

.timeline > div > .fa,
.timeline > div > .fas,
.timeline > div > .far,
.timeline > div > .fab,
.timeline > div > .glyphicon,
.timeline > div > .ion {
  background: #adb5bd;
  border-radius: 50%;
  font-size: 15px;
  height: 30px;
  left: 18px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}

.timeline > .time-label > span {
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-block;
  font-weight: 600;
  padding: 5px;
}


.bg-green {
  background-color: #28a745 !important;
}

.bg-green,
.bg-green > a {
  color: #ffffff !important;
}

.bg-green.btn:hover {
  border-color: #1e7e34;
  color: #ececec;
}

.bg-green.btn:not(:disabled):not(.disabled):active, .bg-green.btn:not(:disabled):not(.disabled).active, .bg-green.btn:active, .bg-green.btn.active {
  background-color: #1e7e34 !important;
  border-color: #1c7430;
  color: #ffffff;
}



/* END EDUCATION */

/* CONTACTS */
.contacs h3 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: #5f6360;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

.contacs label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #3D3D3D;
}

.contacs input {
  font-weight: 200;
  font-style: italic;
  border-radius: 5px;
}

.contacs input.is-invalid:focus {
  font-weight: 200;
  border-radius: 5px;
}

.contacs textarea {
  font-weight: 200;
  font-style: italic;
  resize: none;
}
.contacs dd {
  font-weight: 200;
}
.contacs dt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #3D3D3D;
}

.contacs i.more {
  font-size: 10px;
  color: #ACACAC;
  font-style: normal;
}

.contacs .share {
  text-align: center;
}

.contacs .share a {
  text-decoration: none;
}


/* END CONTACTS */

/* TESTIMONIAL */

.testimonial {
  margin-top: 100px;
}

.testimonial a {
  text-decoration: none;
  color: #1C2C5D;
}

.testimonial h5 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
  color: #5f6360;
}

.testimonial figure img {
  width: 60px;
  margin: 20px 10px 10px;
  opacity: 0.6;
}

.testimonial figure img.frist {
  width: 87px;
  opacity: 1;
  margin-top: 5px;
}
.testimonial figure h5 {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: #1C2C5D;
}

.testimonial figure h5 small {
  font-size: 10px;
  font-style: normal;
  color: #1C2C5D;
}

.testimonial figure p {
  font-size: 10px;
  color: #ACACAC;
  margin-top: -7px !important;
}

/* END TESTIMONIAL */

/* FOOTER */
.footer {
  margin-top: 100px;
}

.footer p {
  color: #ACACAC;
  font-size: 14px;
}
/* END FOOTER */

/* END CSS ALL */

/* UTILYTIES */
.button-all {
  text-transform: uppercase;
  border-radius: 32px;
}

.btn-contact {
  border-color: #146DE0;
  text-transform: uppercase;
  border-radius: 32px;
}
.btn-contact:hover {
  border-color: #146DE0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.btn-price {
  margin-bottom: -80px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

a.scrolltotop {
     /* background: #D50000 none repeat scroll 0 0; */
     bottom: 20px;
     border-radius: 20px;
     color: #ffffff;
     display: none;
     font-size: 10px;
     height: 25px;
     padding-top: 5px;
     position: fixed;
     right: 20px;
     text-align: center;
     width: 25px;
     z-index: 99;
 }

/* END UTILYTIES */

/* DESKTOP VERSION */
@media (min-width: 992px) {
  .navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0B63DC;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 600px;
  }

  .jumbotron-pricing {
    margin-top: -75px;

  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .price-panel {
    margin-top: -400px;
  }

  .work-content {
    margin-top: 120px;
    text-align: left;
  }

  .testimonial h5 {
    font-size: 25px;
  }

  .testimonial figure h5 {
    font-size: 15px;
  }

  a.scrolltotop {
       /* background: #D50000 none repeat scroll 0 0; */
       bottom: 20px;
       border-radius: 50px;
       color: #ffffff;
       display: none;
       font-size: 15px;
       height: 30px;
       padding-top: 1px;
       position: fixed;
       right: 20px;
       text-align: center;
       width: 30px;
       z-index: 99;
   }
}

/* END DESKTOP VERSION */
