/* navbar */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand{
  font-family: 'Viga';
  font-size: 32px;
}

/* end navbar */

/* CSS ALL */

/* jumbotron */

.jumbotron {
  background-image: url('https://github.com/ekopras18/ekopras18.github.io/blob/master/img/jumbotron-bg.png');
  background-size: cover;
  height: 550px;
  text-align: center;
  position: relative;
  /* margin-top: -75px; */
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 140px;
  font-weight: 200;
  font-size: 45px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron .display-4 span {
  font-weight: 500;
}
.jumbotron p {
  color: #acacac;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* END JUMBOTRON */

/* INFO PANEL */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 30px;
}

.info-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  margin-top: -3px;
  font-weight: 200;
}
/* END INFO PANEL */

/* CONTENT SPACE */

.work-content {
  margin-top: 5px;
  text-align: center;
}
.work-content img {
  border-radius: 7px;
}
.work-content h3 {
  margin-top: 80px;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
}

.work-content span {
  font-weight: 500;
}

.work-content p {
  font-size: 18px;
  color: #ACACAC;
  font-weight: 200;
  margin: 30px 0;
}
/* END CONTENT SPACE */

/* TESTIMONIAL */

.testimonial {
  margin-top: 100px;
}

.testimonial h5 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
  color: #5f6360;
}

.testimonial figure img {
  width: 70px;
  margin: 20px 10px 10px;
  opacity: 0.6;
}

.testimonial figure img.frist {
  width: 87px;
  opacity: 1;
  margin-top: 5px;
}
.testimonial figure h5 {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  color: #1C2C5D;
}

.testimonial figure p {
  font-size: 12px;
  color: #ACACAC;
  margin-top: -7px !important;
}

/* END TESTIMONIAL */

.footer {
  margin-top: 100px;
}

.footer p {
  color: #ACACAC;
  font-size: 14px;
}

/* END CSS ALL */

/* UTILYTIES */
.button-all {
  text-transform: uppercase;
  border-radius: 32px;
}

/* END UTILYTIES */

/* DESKTOP VERSION */
@media (min-width: 992px) {
  .navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0B63DC;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 600px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .work-content {
    margin-top: 120px;
    text-align: left;
  }

  .testimonial h5 {
    font-size: 25px;
  }
}

/* END DESKTOP VERSION */
